/* PrimeNG Imports */
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";

/* Global Styles */
body {
  margin: 0;
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: #ffffff;
}

* {
  font-family: "Sofia Sans", sans-serif;
}

/* Utility class for full width */
.w-full {
  width: 100%;
}
